<ion-view view-title="Data">
    <ion-content>
      <ion-list>
        <ion-item ng-repeat="listWst in wisataTmp | filter: cari">
          <h3><b>{{listWst.nama}}</b></h3>
          <p style="font-style: italic;">{{listWst.kategori}}</p>
          <p style="font-style: italic;">{{listWst.alamat}}</p>
          <ion-option-button class="button button-assertive icon ion-android-delete" ng-click="hapus({{listWst.id-1}})"></ion-option-button>
          <ion-option-button class="button button-positive icon ion-android-create" ng-click="edit({{listWst.id}})"></ion-option-button>
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer-bar class="item-input-inset bar-positive">
    	<label class="item-input-wrapper">
    		<input type="search" name="cari" ng-model="cari" required minlength="1" placeholder="Search">
  		</label>
	</ion-footer-bar>
</ion-view>
