<ion-view view-title="Map">
	<input type="text" id="cari" class="controls" placeholder="Search">
  	<ion-content>
    	<div id="map" data-tap-disabled="true"></div>
  	</ion-content>
  	<!-- <form name="frmcari" novalidate ng-submit="frmcari.$valid && prsCari()">
	    <ion-footer-bar class="item-input-inset bar-positive">
  			<a class="button button-icon icon ion-android-locate" ng-click="geoLks()"></a>
	    	<label class="item-input-wrapper">
	    		<i class="icon ion-ios7-search placeholder-icon"></i>
	    		<input type="search" name="cari" ng-model="cari" required minlength="1" placeholder="Address">
	  		</label>
  			<button class="button button-clear button-small" ng-disabled="!frmcari.$valid">
			    Search
			</button>
		</ion-footer-bar>
	</form> -->
</ion-view>
