page-praktikum {

    .scroll-content {
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
    }

    ion-grid {
        padding: 0;
        height: 100%;
    }

    ion-row {
        flex: 1;
    }

    //header
    .headerApp {
        background-color: peachpuff;
        width: 100% !important;
        display: inline-flex;
        .boxLogo {
            align-self: center !important;
            text-align: center !important;
            width: 20% !important;
            .lgApp {
                max-width: 40%;
            }
        }
        .boxJdl {
            align-self: center !important;
            text-align: center !important;
            width: 60% !important;
            .jdlApp {
                font-size: 2rem;
                font-family: 'SpicyRice' !important;
            }
        }
        .boxBtn {
            align-self: center !important;
            text-align: center !important;
            width: 20% !important;
            .btnApp {
                width: 30px;
                height: 30px;
            }
        }
    }

    .contBtn {
        align-self: center;
    }

    .cont {
        border-style: dashed;
        border-width: 2px;
        // padding: 10px;
        border-color: peachpuff;
        .icnBtnFooter1 {
            position: absolute;
            width: 30px;
            height: 30px;
            bottom: 5px;
            left: 5px;
        }
        .icnBtnFooter3 {
            position: absolute;
            width: 30px;
            height: 30px;
            bottom: 5px;
            right: 5px;
        }
        h6 {
            margin-bottom: 0;
            text-align: justify;
            font-family: 'Lora';
        }
        .alat1 {
            max-width: 90%;
        }
        .alat2 {
            max-width: 90%;
        }
        .alat3 {
            max-width: 90%;
        }
        .alat4 {
            max-width: 85%;
        }
        .alat5 {
            max-width: 54%;
        }
        .alat6 {
            max-width: 40%;
        }
        .alat7 {
            max-width: 65%;
        }
        .btnAlat {
            position: absolute;
            right: 45px;
            bottom: 3px;
        }
        .bahan1 {
            max-width: 75%;
        }
        .bahan2 {
            max-width: 100%;
        }
        .bahan3 {
            max-width: 100%;
        }
        .btnBahan {
            position: absolute;
            right: 45px;
            bottom: 3px;
        }
        .imgPengamatan {
            max-width: 100%;
        }
    }
}
