<ion-view>
  <ion-content scroll="false">
    <div class="bar bar-header bar-calm">
      <button class="button icon ion-arrow-left-c" ng-click="goBack()"></button>
      <h1 class="title">Aplikasi Kuesioner</h1>
    </div>
    <div class="formDftPage">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Nama</span>
          <input type="text" placeholder="Nama" ng-model="dft.nama">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Email" ng-model="dft.email">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Sandi</span>
          <input type="password" placeholder="Sandi" ng-model="dft.sandi">
        </label>
        <button class="button button-full button-calm" ng-click="dftNormal(dft)">
          Daftar
        </button>
        <center>
          <a style="color: #000;">Sudah punya akun? <a href="#/login" style="color: #22b4a9;"><b>Masuk!</b></a></a>
        </center>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
