<ion-view view-title="Info">
  <ion-content>
    <center>
      <h3 style="color: #22b4a9; padding-top: 5px;">Pentingnya orangtua sebagai Pendidik</h3>
    </center>
    <hr style="color: #22b4a9; width: 90%;">
    <div class="row">
      <div class="col">
        <div class="rowInfo">
          Anak belajar dari banyak sumber, mulai dari orang tua, buku, sekolah, tempat les, teman, orang dewasa lain, media, internet, dan banyak lagi. Belajar dai banyak sumber secara terpisah cenderung membuat anak bertanya-tanya dan sering merasa bingung.<br>
          Apa hubungan antara matematika dengan bermain piano? Apa hubungan antara membaca Mallory Towers dan Lima Sekawan di rumah dengan pembelajaran Bahasa Indonesia di sekolah? Bagaimana hubungan aku les fotografi dengan temanku di sekolah yang suka fotografi? Bagaimana mempraktikkan video prakarya yang aku lihat di Youtube padahal tidak ada pelajaran prakarya yang sama di sekolah? Apa, sih, gunanya aku belajar banyak?<br>
          Pada titik itu, peran orangtua menjadi sangat penting. Meski anak bersekolah di sekolah keren, les di tempat les seru, punya gawai canggih untuk mengakses internet, punya koleksi buku yang banyak dan bagus, punya banyak teman yang unik dan pintar, semua itu tidak dapat menggantikan peran penting orangtua.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
