 /*spinner*/
  .spinner svg {
    width: 45px;
    height: 45px;
  }

  /*map*/
  .scroll{
  	height: 100%;
  }
  #cont_map{
    /*width: 100%;*/
    height: 100%;
    display: flex;
  }
  #map{
  	width: 100%;
  	height: 100%;
  }

  /*input file css*/
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  .btn {
    border: 2px solid black;
    color: black;
    background-color: white;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
  }

  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  /*profil img*/
  .img-profil {
    /*width: 50%;
    height: 50%;*/
    width: 150px !important;
    height : 150px !important;
    max-width: auto !important;  //any size
    max-height: auto !important; //any size
    border: 5px solid white;
    border-radius: 50%;
  }
  /*placeholder italic*/
  ::-webkit-input-placeholder {
     font-style: italic;
  }
  :-moz-placeholder {
     font-style: italic;
  }
  ::-moz-placeholder {
     font-style: italic;
  }
  :-ms-input-placeholder {
     font-style: italic;
  }

  /*.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 2px 2px 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
*/
  /*serach box map*/
  #origin-input{
    margin-top: 5px;
    border: 1px solid transparent;
    border-radius: 2px 2px 2px 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 40px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    /*margin-left: 5px;*/
    /*margin-right: 10px;*/
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 95%;
  }

  #destination-input{
    /*margin-bottom: 375px;*/
    top: 50px !important;
    border: 1px solid transparent;
    border-radius: 2px 2px 2px 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 40px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 95%;
  }

  /*#origin-input,
  #destination-input {
      background-color: #fff;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      margin-left: 10px;
      margin-right: 10px;
      padding: 0 11px 0 13px;
      text-overflow: ellipsis;
      width: 140px;
  }*/

  #origin-input:focus,
  #destination-input:focus {
      border-color: #4d90fe;
  }

  .float-button {
  	-webkit-border-radius: 50%;
  	-moz-border-radius: 50%;
  	border-radius: 50%;
  	width: 30px;
  	padding: 30px;
  	font-size: 40px;
  	background: $warning;
  	position: fixed;
    /* Adjust to where you want it */
  	bottom: 10px;
    /* Adjust to where you want it */
  	/*right: 280px;*/
  	z-index: 9999;
  }

  .float-button .height_fix {
    margin-top: 100%;
  }

  .float-button .content {
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -20px; /* Note, this must be half the font size */
    color: $light;
  }

/*chat*/
.round{
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}
/*chat kiri*/
.talk-bubble-left {
  /*margin: 40px;*/
  float: left;
  margin-bottom: 2px;
  display: inline-block;
  position: relative;
  /*width: 200px;*/
  height: auto;
  background-color: #886aea;
}
/* talk bubble contents */
.talktext-left{
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}
.talktext-left p{
  /* remove webkit p margins */
  color: white;
  font-size: small;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
.talktext-left ul{
  /* remove webkit p margins */
  color: white;
  float: right;
  font-size: xx-small;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
.tri-right.border.left-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -15px;
  right: auto;
  top: 10px;
  bottom: auto;
  border: 15px solid;
  border-color: #886aea transparent transparent transparent;
}
/*chat kanan*/
.talk-bubble-right {
  /*margin: 40px;*/
  float: right;
  margin-bottom: 2px;
  display: inline-block;
  position: relative;
  /*width: 200px;*/
  height: auto;
  background-color: #33cd5f;
}
/* talk bubble contents */
.talktext-right{
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}
.talktext-right p{
  /* remove webkit p margins */
  color: white;
  font-size: small;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
.talktext-right ul{
  /* remove webkit p margins */
  color: white;
  float: right;
  font-size: xx-small;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
.tri-right.border.right-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -15px;
  top: 10px;
  bottom: auto;
  border: 15px solid;
  border-color: #33cd5f transparent transparent transparent;
}
